rvm:
  - "1.8.7"
  - "1.9.3"
  - "2.1.2"
  - jruby
  #- rbx-2.2.3
gemfile:
  - gemfiles/rails_2.3.gemfile
  - gemfiles/rails_3.0.gemfile
  - gemfiles/rails_3.1.gemfile
  - gemfiles/rails_3.2.gemfile
  - gemfiles/rails_4.0.gemfile
  - gemfiles/rails_4.1.gemfile
matrix:
  include:
    - rvm: 2.1.0
      gemfile: gemfiles/rails_4.0.no-active-record.gemfile
      env: SKIP_ACTIVE_RECORD=true
  exclude:
    - rvm: 1.8.7
      gemfile: gemfiles/rails_4.0.gemfile
    - rvm: 1.8.7
      gemfile: gemfiles/rails_4.1.gemfile
    - rvm: 2.1.2
      gemfile: gemfiles/rails_2.3.gemfile
    - rvm: rbx-2.2.3
      gemfile: gemfiles/rails_2.3.gemfile
    - rvm: jruby
      gemfile: gemfiles/rails_2.3.gemfile
script: "bundle exec rake spec"
