name: Ruby
concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  cancel-in-progress: true
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 3" # At 08:00 on Wednesday # https://crontab.guru/#0_8_*_*_3
  push:
    branches:
      - master
    tags:
      - v*.*.*
  pull_request:
    types: [opened, synchronize]
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # | rails | rails EOL | ruby EOL | min ruby| max |
        # | ----- | ---------+| --------+| --------|---- |
        # | 5.0   |  6/2020   |   3/2020 |   2.2   | 2.4 |
        # | 5.1   |  6/2021   |   3/2021 |   2.2   | 2.5 |
        # | 5.2   |  6/2022   |   3/2022 |   2.2   | 2.6 |
        # | 6.0   |  6/2023?  |   3/3023?|   2.5   | 2.7 |
        # | 6.1   |           |          |   2.5   |     |
        # | 7.0   |           |          |   2.7   |     |
        # | 7.1   |           |          |   2.7   |     |
        # | 7.2   |           |          |   3.1   |     |
        ruby: ['3.0', '3.1', '3.2', '3.3']
        gemfile:
          - 'gemfiles/rails_6.1.gemfile'
          - 'gemfiles/rails_7.0.gemfile'
          - 'gemfiles/rails_7.1.gemfile'
          - 'gemfiles/rails_7.2.gemfile'
        include:
        - ruby: '2.4'
          gemfile: 'gemfiles/rails_5.0.gemfile'
        - ruby: '2.5'
          gemfile: 'gemfiles/rails_5.1.gemfile'
        - ruby: '2.6'
          gemfile: 'gemfiles/rails_5.2.gemfile'
        - ruby: '2.7'
          gemfile: 'gemfiles/rails_6.0.gemfile'
        exclude:
        - ruby: '3.0'
          gemfile: 'gemfiles/rails_7.2.gemfile'
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    name: Ruby ${{ matrix.ruby }}, ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake spec
